<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbw.reservation.mappers.AccessMapper">

    <insert id="insertUser" parameterType="com.jbw.reservation.entities.UserEntity">
        INSERT INTO `reservation`.`users` (`email`, `password`, `name`, `gender`, `nickname`, `ssn_birth`, `created_at`, `modified_at`, `is_deleted`, `is_suspended`, `is_admin`, `is_agree`)
        VALUES (#{email}, #{password}, #{name}, #{gender}, #{nickname}, #{ssnBirth}, #{createdAt}, #{modifiedAt}, #{isDeleted}, #{isSuspended}, #{isAdmin}, #{isAgree})
    </insert>

    <insert id="insertContractor" parameterType="com.jbw.reservation.entities.ContractorEntity">
        INSERT INTO `reservation`.`contractors` (`email`, `password`, `name`, `contact_first`,`contact_second`,`contact_third`,`tin_first`,`tin_second`,`tin_third`,`created_at`, `modified_at`, `is_deleted`,`is_suspended`,`is_agree`, `is_approved`)
        VALUES (#{email}, #{password}, #{name}, #{contactFirst}, #{contactSecond}, #{contactThird}, #{tinFirst}, #{tinSecond}, #{tinThird}, #{createdAt}, #{modifiedAt}, #{isDeleted}, #{isSuspended}, #{isAgree}, #{isApproved})
    </insert>

    <insert id="insertEmailAuth" parameterType="com.jbw.reservation.entities.EmailAuthEntity">
        INSERT INTO `reservation`.`email_auth`(`email`, `code`, `salt`, `created_at`, `expires_at`, `is_expired`, `is_verified`, `is_used`)
        VALUES (#{email}, #{code}, #{salt}, #{createdAt}, #{expiresAt}, #{isExpired}, #{isVerified}, #{isUsed})
    </insert>

    <update id="updateEmailAuth" parameterType="com.jbw.reservation.entities.EmailAuthEntity">
        UPDATE `reservation`.`email_auth`
        SET `created_at`  = #{createdAt},
            `expires_at`  = #{expiresAt},
            `is_expired`  = #{isExpired},
            `is_verified` = #{isVerified},
            `is_used`     = #{isUsed}
        WHERE BINARY `email` = #{email}
          AND BINARY `code` = #{code}
          AND BINARY `salt` = #{salt}
    </update>

    <update id="updateUser" parameterType="com.jbw.reservation.entities.UserEntity">
        UPDATE `reservation`.`users`
        SET `password`     = #{password},
            `name`         = #{name},
            `gender`       = #{gender},
            `nickname`     = #{nickname},
            `ssn_birth`    = #{ssnBirth},
            `created_at`   = #{createdAt},
            `modified_at`  = #{modifiedAt},
            `is_deleted`   = #{isDeleted},
            `is_suspended` = #{isSuspended},
            `is_admin`     = #{isAdmin},
            `is_agree`     = #{isAgree}
        WHERE BINARY `email` = #{email}
        LIMIT 1
    </update>

    <update id="updateContractor" parameterType="com.jbw.reservation.entities.ContractorEntity">
        UPDATE `reservation`.`contractors`
        SET `password`       = #{password},
            `name`           = #{name},
            `contact_first`  = #{contactFirst},
            `contact_second` = #{contactSecond},
            `contact_third`  = #{contactThird},
            `tin_first`      = #{tinFirst},
            `tin_second`     = #{tinSecond},
            `tin_third`      = #{tinThird},
            `created_at`     = #{createdAt},
            `modified_at`    = #{modifiedAt},
            `is_deleted`     = #{isDeleted},
            `is_suspended`   = #{isSuspended},
            `is_agree`       = #{isAgree},
            `is_approved`    = #{isApproved}
        WHERE BINARY `email` = #{email}
        LIMIT 1
    </update>

    <select id="selectEmailAuthEmailCodeSalt" resultType="com.jbw.reservation.entities.EmailAuthEntity">
        SELECT `email`       AS `email`,
               `code`        AS code,
               `salt`        AS salt,
               `created_at`  AS `createdAt`,
               `expires_at`  AS `expiresAt`,
               `is_expired`  AS `isExpired`,
               `is_verified` AS isVerified,
               `is_used`     AS `isUsed`
        FROM `reservation`.`email_auth`
        WHERE BINARY `email` = #{email}
          AND BINARY `code` = #{code}
          AND BINARY `salt` = #{salt}
        LIMIT 1
    </select>

    <select id="selectUserByEmail" resultType="com.jbw.reservation.entities.UserEntity">
        SELECT `email`        AS `email`,
               `password`     AS `password`,
               `name`         AS `name`,
               `gender`       AS `gender`,
               `nickname`     AS `nickname`,
               `ssn_birth`    AS `ssnBirth`,
               `created_at`   AS `createdAt`,
               `modified_at`  AS `modifiedAt`,
               `is_deleted`   AS `isDeleted`,
               `is_suspended` AS `isSuspended`,
               `is_admin`     AS `isAdmin`,
               `is_agree`     AS `isAgree`
        FROM `reservation`.`users`
        WHERE `is_deleted` = FALSE
          AND `is_suspended` = FALSE
          AND BINARY `email` = #{email}
        LIMIT 1
    </select>

    <select id="selectUserByNickname" resultType="com.jbw.reservation.entities.UserEntity">
        SELECT `email`        AS `email`,
               `password`     AS `password`,
               `name`         AS `name`,
               `gender`       AS `gender`,
               `nickname`     AS `nickname`,
               `ssn_birth`    AS `ssnBirth`,
               `created_at`   AS `createdAt`,
               `modified_at`  AS `modifiedAt`,
               `is_deleted`   AS `isDeleted`,
               `is_suspended` AS `isSuspended`,
               `is_admin`     AS `isAdmin`,
               `is_agree`     AS `isAgree`
        FROM `reservation`.`users`
        WHERE `is_deleted` = FALSE
          AND `is_suspended` = FALSE
          AND `nickname` = #{nickname}
        LIMIT 1
    </select>

    <select id="selectUserByNameGenderSsnBirth" resultType="com.jbw.reservation.entities.UserEntity">
        SELECT `email`        AS `email`,
               `password`     AS `password`,
               `name`         AS `name`,
               `gender`       AS `gender`,
               `nickname`     AS `nickname`,
               `ssn_birth`    AS `ssnBirth`,
               `created_at`   AS `createdAt`,
               `modified_at`  AS `modifiedAt`,
               `is_deleted`   AS `isDeleted`,
               `is_suspended` AS `isSuspended`,
               `is_admin`     AS `isAdmin`,
               `is_agree`     AS `isAgree`
        FROM `reservation`.`users`
        WHERE `is_deleted` = FALSE
          AND `is_suspended` = FALSE
          AND `name` = #{name}
          AND BINARY `gender` = #{gender}
          AND `ssn_birth` = #{ssnBirth}
        LIMIT 1
    </select>

    <select id="selectContractorByEmail" resultType="com.jbw.reservation.entities.ContractorEntity">
        SELECT `email`          AS `email`,
               `password`       AS `password`,
               `name`           AS `name`,
               `contact_first`  AS `contactFirst`,
               `contact_second` AS `contactSecond`,
               `contact_third`  AS `contactThird`,
               `tin_first`      AS `tinFirst`,
               `tin_second`     AS `tinSecond`,
               `tin_third`      AS `tinThird`,
               `created_at`     AS `createdAt`,
               `modified_at`    AS `modifiedAt`,
               `is_deleted`     AS `isDeleted`,
               `is_suspended`   AS `idSuspended`,
               `is_agree`       AS `isAgree`,
               `is_approved`    AS `isApproved`
        FROM `reservation`.`contractors`
        WHERE `is_deleted` = FALSE
          AND `is_suspended` = FALSE
          AND BINARY `email` = #{email}
        LIMIT 1
    </select>

    <select id="selectContractorByContact" resultType="com.jbw.reservation.entities.ContractorEntity">
        SELECT `email`          AS `email`,
               `password`       AS `password`,
               `name`           AS `name`,
               `contact_first`  AS `contactFirst`,
               `contact_second` AS `contactSecond`,
               `contact_third`  AS `contactThird`,
               `tin_first`      AS `tinFirst`,
               `tin_second`     AS `tinSecond`,
               `tin_third`      AS `tinThird`,
               `created_at`     AS `createdAt`,
               `modified_at`    AS `modifiedAt`,
               `is_deleted`     AS `isDeleted`,
               `is_suspended`   AS `idSuspended`,
               `is_agree`       AS `isAgree`,
               `is_approved`    AS `isApproved`
        FROM `reservation`.`contractors`
        WHERE `is_deleted` = FALSE
          AND `is_suspended` = FALSE
          AND BINARY `contact_first` = #{contactFirst}
          AND BINARY `contact_second` = #{contactSecond}
          AND BINARY `contact_third` = #{contactThird}
        LIMIT 1
    </select>

    <select id="selectContractorByTin" resultType="com.jbw.reservation.entities.ContractorEntity">
        SELECT `email`          AS `email`,
               `password`       AS `password`,
               `name`           AS `name`,
               `contact_first`  AS `contactFirst`,
               `contact_second` AS `contactSecond`,
               `contact_third`  AS `contactThird`,
               `tin_first`      AS `tinFirst`,
               `tin_second`     AS `tinSecond`,
               `tin_third`      AS `tinThird`,
               `created_at`     AS `createdAt`,
               `modified_at`    AS `modifiedAt`,
               `is_deleted`     AS `isDeleted`,
               `is_suspended`   AS `idSuspended`,
               `is_agree`       AS `isAgree`,
               `is_approved`    AS `isApproved`
        FROM `reservation`.`contractors`
        WHERE `is_deleted` = FALSE
          AND `is_suspended` = FALSE
          AND BINARY `tin_first` = #{tinFirst}
          AND BINARY `tin_second` = #{tinSecond}
          AND BINARY `tin_third` = #{tinThird}
        LIMIT 1
    </select>

    <select id="selectContractorByName" resultType="com.jbw.reservation.entities.ContractorEntity">
        SELECT `email`          AS `email`,
               `password`       AS `password`,
               `name`           AS `name`,
               `contact_first`  AS `contactFirst`,
               `contact_second` AS `contactSecond`,
               `contact_third`  AS `contactThird`,
               `tin_first`      AS `tinFirst`,
               `tin_second`     AS `tinSecond`,
               `tin_third`      AS `tinThird`,
               `created_at`     AS `createdAt`,
               `modified_at`    AS `modifiedAt`,
               `is_deleted`     AS `isDeleted`,
               `is_suspended`   AS `idSuspended`,
               `is_agree`       AS `isAgree`,
               `is_approved`    AS `isApproved`
        FROM `reservation`.`contractors`
        WHERE `is_deleted` = FALSE
          AND `is_suspended` = FALSE
          AND BINARY `name` = #{name}
        LIMIT 1
    </select>

    <select id="selectContractorByNameContactTin" resultType="com.jbw.reservation.entities.ContractorEntity">
        SELECT `email`          AS `email`,
               `password`       AS `password`,
               `name`           AS `name`,
               `contact_first`  AS `contactFirst`,
               `contact_second` AS `contactSecond`,
               `contact_third`  AS `contactThird`,
               `tin_first`      AS `tinFirst`,
               `tin_second`     AS `tinSecond`,
               `tin_third`      AS `tinThird`,
               `created_at`     AS `createdAt`,
               `modified_at`    AS `modifiedAt`,
               `is_deleted`     AS `isDeleted`,
               `is_suspended`   AS `idSuspended`,
               `is_agree`       AS `isAgree`,
               `is_approved`    AS `isApproved`
        FROM `reservation`.`contractors`
        WHERE `is_deleted` = FALSE
          AND `is_suspended` = FALSE
          AND BINARY `name` = #{name}
          AND `contact_first` = #{contactFirst}
          AND `contact_second` = #{contactSecond}
          AND `contact_third` = #{contactThird}
          AND `tin_first` = #{tinFirst}
          AND `tin_second` = #{tinSecond}
          AND `tin_third` = #{tinThird}
        LIMIT 1
    </select>

    <select id="selectContractors" resultType="com.jbw.reservation.entities.ContractorEntity">
        SELECT `email`          AS `email`,
               `name`           AS `name`,
               `contact_first`  AS `contactFirst`,
               `contact_second` AS `contactSecond`,
               `contact_third`  AS `contactThird`,
               `tin_first`      AS `tinFirst`,
               `tin_second`     AS `tinSecond`,
               `tin_third`      AS `tinThird`,
               `created_at`     AS `createdAt`,
               `modified_at`    AS `modifiedAt`,
               `is_deleted`     AS `isDeleted`,
               `is_suspended`   AS `idSuspended`,
               `is_agree`       AS `isAgree`,
               `is_approved`    AS `isApproved`
        FROM `reservation`.`contractors`
    </select>

</mapper>