<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbw.reservation.mappers.SearchMapper">
    <insert id="insertSearchHistory"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.jbw.reservation.entities.SearchHistoryEntity">
        INSERT INTO `reservation`.`search_histories` (`user_email`, `keyword`, `created_at`)
        VALUES (#{userEmail}, #{keyword}, #{createdAt})
    </insert>

</mapper>