@charset "UTF-8";

body {
  background-color: #0B005C;
}

#ContractorRecoverDiv {
  background-color: #f5f5f5;
  top: 50%;
  left: 50%;
  height: 90%;
  width: 27rem;
  border-radius: 0.375rem;
  padding: 1.5rem 2rem;
  position: fixed;
  transform: translate(-50%, -50%);
  overflow: auto;

  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  > .titleDiv {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }

  > .type-wrapper {
    display: grid;
    gap: 0.1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));


    > .type {
      background-color: darken(#e0e0e0, 1%);
      border: 0.0625rem solid darken(#e0e0e0, 5%);
      border-radius: 0.25rem;
      cursor: pointer;
      padding: 0.75rem 1rem;
      user-select: none;

      align-items: stretch;
      display: flex;
      flex-direction: column;
      gap: 0.375rem;
      justify-content: flex-start;

      > [name="type"] {
        display: none;
      }

      > .title {
        font-size: 1.2rem;
        white-space: nowrap;
        text-align: center;
      }

      > .message {
        color: #757575;
        font-size: 0.8rem;
        line-height: 1.25;
      }

      &:hover {
        border-color: #212121;
      }

      &:has([name="type"]:checked) {
        border-color: #0B005C;
      }
    }

    &:has([name="type"][value="email"]:checked) ~ .form.email {
      display: flex;
    }

    &:has([name="type"][value="password"]:checked) ~ .form.password {
      display: flex;
    }

  }

  > .form {
    align-items: stretch;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.625rem;

    > ._obj-label {
      > .__horizontal {
        > .space {
          padding-top: 1rem;
        }
      }
    }
  }
}