@charset "UTF-8";

._obj-input {
  $border-color : #bdbdbd;
  $color : #212121;

  width: 100%;
  background-color: #ffffff;
  border: 0.0625rem solid lighten($border-color, 10%);
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: lighten($color, 10%);
  font: inherit;
  outline: none;
  padding: 1rem 0.75rem;
  transition-duration: 125ms;
  transition-property: border-color, color;
  transition-timing-function: ease;

  &:hover{
    border-color: $border-color;
    color: $color;
  }

  &:focus{
    border-color: #0B005C;
  }

  &:disabled {
    background-color: #f5f5f5 !important;
    border-color: #bdbdbd !important;
    color: #9e9e9e !important;
  }
}