@charset "UTF-8";
@import "common._obj-message";
@import "common._obj-button";
@import "common._obj-input";
@import "common._obj-label";
@import "common._obj-check-label";
@import "common._obj-dialog";
@import "common._obj-cover";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

a:link, a:visited {
  color:#0B005C;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body {
  cursor: default;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  margin-block: initial;
  margin-inline: initial;
}

ol, ul {
  list-style-type: none;
  margin-block: inherit;
  margin-inline: initial;
  padding-inline: initial;
}

#loading {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212121a0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 250ms;
  user-select: none;
  z-index: 10;

  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;

  > .image {
    top: 0.25rem;
    width: 3.5rem;
    height: 3.5rem;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-name: animation-loading-image;
    animation-timing-function: linear;
    position: relative;
    transition: top 250ms;

    @keyframes animation-loading-image {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  >.text {
    top: 0.25rem;
    color: #ffffff;
    font-size: 1.5rem;
    opacity: 0;
    transition-duration: 250ms;
    transition-property: top, opacity;
  }

  &.-visible {
    opacity: 1;
    pointer-events: all;

    > .image{
      top: 0;
    }

    >.text {
      top: 0;
      opacity: 1;
    }
  }
}