@charset "UTF-8";

._obj-dialog {
  top: 50%;
  left: 50%;
  width: 30rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 1.5rem 0.0625rem #21212160;
  box-sizing: border-box;
  opacity: 0;
  padding: 2.5rem;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  transition-duration: 250ms;
  z-index: 9;

  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;


  &.-visible {
    opacity: 1;
    pointer-events: all;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  > .__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;

    align-items: center;
    display: flex;
    flex-direction: column;
  }
}