#parkingLotInfoDialog {
  width: 50%;
  height: 80%;
  padding: 1.5rem 5rem;
  overflow: auto;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.3rem;
}
#parkingLotInfoDialog::-webkit-scrollbar {
  display: none;
}
#parkingLotInfoDialog > .title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}
#parkingLotInfoDialog > .item {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}
#parkingLotInfoDialog > .item > .text {
  font-size: 1.2rem;
  font-weight: 500;
}
#parkingLotInfoDialog > .item > .content {
  width: 100%;
  height: 3rem;
  border: 0.0625rem solid #0B005C;
  border-radius: 0.25rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
#parkingLotInfoDialog > .item > .content > .content-text {
  font-size: 1.1rem;
}
#parkingLotInfoDialog > .item > .descriptionContent {
  width: 100%;
  height: auto;
  min-height: 3rem;
  border: 0.0625rem solid #0B005C;
  border-radius: 0.25rem;
  overflow: auto;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
#parkingLotInfoDialog > .item > .descriptionContent > .content-text {
  padding: 0.5rem;
  font-size: 1.1rem;
}
#parkingLotInfoDialog > .item > .statusContent > .__horizontal {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
}
#parkingLotInfoDialog > .item > .statusContent > .__horizontal > .content-text {
  width: 60%;
  height: 3rem;
  border: 0.0625rem solid #0B005C;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
#parkingLotInfoDialog > .item > .statusContent > .__horizontal > .spring {
  flex: 1;
}
#parkingLotInfoDialog > .item > .statusContent > .__horizontal > ._obj-button {
  white-space: nowrap;
  width: 40%;
  height: 3rem;
  font-size: 1rem;
}
#parkingLotInfoDialog > .button-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-items: stretch;
  display: flex;
  justify-content: center;
}
#parkingLotInfoDialog > .button-container > ._obj-button {
  width: 100%;
  height: 3rem;
  font-size: 1.1rem;
}

#parkingLotInfoPaymentHistoryDialog {
  width: 70%;
  height: 80%;
  padding: 1.5rem 2rem;
  overflow: auto;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.3rem;
}
#parkingLotInfoPaymentHistoryDialog::-webkit-scrollbar {
  display: none;
}
#parkingLotInfoPaymentHistoryDialog > .title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}
#parkingLotInfoPaymentHistoryDialog > .payment-history-table.empty {
  width: 100%;
  font-size: 1.1rem;
  padding: 0.5rem;
  text-align: center;
  opacity: 0;
}
#parkingLotInfoPaymentHistoryDialog > .payment-history-table.empty.-visible {
  opacity: 1;
}
#parkingLotInfoPaymentHistoryDialog > .payment-history-table {
  border: 0.13rem solid #0B005C;
  border-radius: 0.375rem;
  display: table;
  table-layout: auto;
  width: 100%;
  opacity: 0;
}
#parkingLotInfoPaymentHistoryDialog > .payment-history-table.-visible {
  opacity: 1;
}
#parkingLotInfoPaymentHistoryDialog > .payment-history-table > .payment-history-thead {
  display: table-header-group;
}
#parkingLotInfoPaymentHistoryDialog > .payment-history-table > .payment-history-thead > .payment-history-tr {
  display: table-row;
}
#parkingLotInfoPaymentHistoryDialog > .payment-history-table > .payment-history-thead > .payment-history-tr > .text {
  border: 0.13rem solid #0B005C;
  font-weight: 500;
  overflow: hidden;
  padding: 0.5rem;
  text-align: center;
  display: table-cell;
}
#parkingLotInfoPaymentHistoryDialog > .payment-history-table > .payment-history-tbody {
  display: table-row-group;
}
#parkingLotInfoPaymentHistoryDialog > .payment-history-table > .payment-history-tbody > .payment-history-list-tr {
  display: table-row;
}
#parkingLotInfoPaymentHistoryDialog > .payment-history-table > .payment-history-tbody > .payment-history-list-tr > .text.status {
  color: #28b463;
}
#parkingLotInfoPaymentHistoryDialog > .payment-history-table > .payment-history-tbody > .payment-history-list-tr > .text {
  text-align: center;
  padding: 0.5rem;
  border: 0.0625rem solid #0B005C;
  display: table-cell;
}
#parkingLotInfoPaymentHistoryDialog > .payment-history-table > .payment-history-tbody > .payment-history-list-tr > .text > ._obj-button {
  white-space: nowrap;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 1rem;
  color: #e0e0e0;
}
#parkingLotInfoPaymentHistoryDialog > ._obj-button {
  top: 95%;
  position: sticky;
  font-size: 1.1rem;
  height: 3rem;
}

#parkingLotInfoRefundHistoryDialog {
  width: 78%;
  height: 80%;
  padding: 1.5rem 2rem;
  overflow: auto;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.3rem;
}
#parkingLotInfoRefundHistoryDialog::-webkit-scrollbar {
  display: none;
}
#parkingLotInfoRefundHistoryDialog > .refund-history-table.empty {
  width: 100%;
  font-size: 1.1rem;
  padding: 0.5rem;
  text-align: center;
  opacity: 0;
}
#parkingLotInfoRefundHistoryDialog > .refund-history-table.empty.-visible {
  opacity: 1;
}
#parkingLotInfoRefundHistoryDialog > .title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}
#parkingLotInfoRefundHistoryDialog > .refund-history-table {
  border: 0.13rem solid #0B005C;
  border-radius: 0.375rem;
  display: table;
  table-layout: auto;
  width: 100%;
  opacity: 0;
}
#parkingLotInfoRefundHistoryDialog > .refund-history-table.-visible {
  opacity: 1;
}
#parkingLotInfoRefundHistoryDialog > .refund-history-table > .refund-history-thead {
  display: table-header-group;
}
#parkingLotInfoRefundHistoryDialog > .refund-history-table > .refund-history-thead > .refund-history-tr {
  display: table-row;
}
#parkingLotInfoRefundHistoryDialog > .refund-history-table > .refund-history-thead > .refund-history-tr > .text {
  border: 0.13rem solid #0B005C;
  font-weight: 500;
  overflow: hidden;
  padding: 0.5rem;
  text-align: center;
  display: table-cell;
}
#parkingLotInfoRefundHistoryDialog > .refund-history-table > .refund-history-tbody {
  display: table-row-group;
}
#parkingLotInfoRefundHistoryDialog > .refund-history-table > .refund-history-tbody > .refund-history-list-tr {
  display: table-row;
}
#parkingLotInfoRefundHistoryDialog > .refund-history-table > .refund-history-tbody > .refund-history-list-tr > .text.status {
  color: #28b463;
}
#parkingLotInfoRefundHistoryDialog > .refund-history-table > .refund-history-tbody > .refund-history-list-tr > .text {
  text-align: center;
  padding: 0.5rem;
  border: 0.0625rem solid #0B005C;
  display: table-cell;
}
#parkingLotInfoRefundHistoryDialog > .refund-history-table > .refund-history-tbody > .refund-history-list-tr > .text > ._obj-button {
  white-space: nowrap;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 1rem;
  color: #e0e0e0;
}
#parkingLotInfoRefundHistoryDialog > ._obj-button {
  top: 95%;
  position: sticky;
  font-size: 1.1rem;
  height: 3rem;
}

body {
  background-color: #0B005C;
}

#contractorPage {
  background-color: #f5f5f5;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 90%;
  border-radius: 0.375rem;
  position: fixed;
  transform: translate(-50%, -50%);
  overflow: auto;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
#contractorPage::-webkit-scrollbar {
  display: none;
}
#contractorPage > .contractorTitleDiv {
  background-color: #f5f5f5;
  top: 0;
  position: sticky;
  z-index: 9;
}
#contractorPage > .contractorTitleDiv > .titleDiv {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 1rem;
}
#contractorPage > .contractorTitleDiv > .titleDiv > .closer {
  right: 2rem;
  padding: 0.8rem;
  font-size: 1rem;
  position: absolute;
  text-align: center;
}
#contractorPage > .contractorTitleDiv > .titleDiv > .closer > .text {
  font: inherit;
}
#contractorPage > .contractorTitleDiv > .titleDiv > .closer:hover {
  cursor: pointer;
  border-radius: 5rem;
  background-color: #dddddd;
}
#contractorPage > .contractorTitleDiv > .type-wrapper {
  padding: 0 2rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
#contractorPage > .contractorTitleDiv > .type-wrapper > .type {
  background-color: #dddddd;
  border: 0.0625rem solid lightgray;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.75rem 1rem;
  user-select: none;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
}
#contractorPage > .contractorTitleDiv > .type-wrapper > .type > [name=type] {
  display: none;
}
#contractorPage > .contractorTitleDiv > .type-wrapper > .type > .title {
  font-size: 1.2rem;
  white-space: nowrap;
  text-align: center;
}
#contractorPage > .contractorTitleDiv > .type-wrapper > .type > .message {
  color: #757575;
  font-size: 0.8rem;
  line-height: 1.25;
}
#contractorPage > .contractorTitleDiv > .type-wrapper > .type:hover {
  border-color: #212121;
}
#contractorPage > .contractorTitleDiv > .type-wrapper > .type:has([name=type]:checked) {
  border-color: #0B005C;
}
#contractorPage > .contractorTitleDiv:has([name=type][value=contractorInfo]:checked) ~ .div.contractorInfo {
  display: flex;
}
#contractorPage > .contractorTitleDiv:has([name=type][value=parkingLotAdd]:checked) ~ .div.parkingLotAdd {
  display: flex;
}
#contractorPage > .contractorTitleDiv:has([name=type][value=parkingLotInfo]:checked) ~ .div.parkingLotInfo {
  display: flex;
}

#contractorInfo {
  left: 50%;
  width: 50%;
  height: 100%;
  border-radius: 0.375rem;
  padding: 1rem 2rem 2rem;
  overflow: auto;
  position: relative;
  transform: translate(-50%);
  align-items: stretch;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}
#contractorInfo::-webkit-scrollbar {
  display: none;
}
#contractorInfo > .infoDiv {
  border: 0.0625rem solid #0B005C;
  border-radius: 0.25rem;
  padding: 2rem 3rem 3rem;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}
#contractorInfo > .infoDiv > .title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}
#contractorInfo > .infoDiv > .item {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
#contractorInfo > .infoDiv > .item i {
  font-size: 1.2rem;
}
#contractorInfo > .infoDiv > .item i > .text {
  font-size: 1.1rem;
  font-weight: 500;
}
#contractorInfo > .infoDiv > .item > .content {
  width: 100%;
  height: 3rem;
  border: 0.0625rem solid #0B005C;
  border-radius: 0.25rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
#contractorInfo > .infoDiv > .item > .content > .content-text {
  font-size: 1.1rem;
}
#contractorInfo > .statusInfo {
  border: 0.0625rem solid #0B005C;
  border-radius: 0.25rem;
  padding: 2rem 3rem 3rem;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}
#contractorInfo > .statusInfo > .title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}
#contractorInfo > .statusInfo > .item {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
#contractorInfo > .statusInfo > .item i {
  font-size: 1.2rem;
}
#contractorInfo > .statusInfo > .item i > .text {
  font-size: 1.1rem;
  font-weight: 500;
}
#contractorInfo > .statusInfo > .item > .content {
  width: 100%;
  height: 3rem;
  border: 0.0625rem solid #0B005C;
  border-radius: 0.25rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
#contractorInfo > .statusInfo > .item > .content > .content-text {
  font-size: 1.1rem;
}

#parkingLotAdd {
  top: 50%;
  left: 50%;
  width: 50%;
  height: 90%;
  border-radius: 0.375rem;
  padding: 1rem 2rem;
  position: relative;
  transform: translate(-50%, -50%);
  align-items: stretch;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
#parkingLotAdd > .parkingLotAddForm {
  padding-bottom: 2rem;
  align-items: stretch;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}
#parkingLotAdd > .parkingLotAddForm > ._obj-label > .__horizontal > .space {
  padding-top: 1rem;
}
#parkingLotAdd > .parkingLotAddForm > .thumbnail > .image-wrapper {
  padding: 0.5rem;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#parkingLotAdd > .parkingLotAddForm > .thumbnail > .image-wrapper > .empty {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #dbdbdb;
  border-radius: 0.25rem;
  color: #292929;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#parkingLotAdd > .parkingLotAddForm > .thumbnail > .image-wrapper > .image {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 0.25rem;
  cursor: pointer;
  display: none;
  object-fit: cover;
  object-position: center;
}
#parkingLotAdd > .parkingLotAddForm > .attachedImage > .image-container {
  background-color: #f5f5f5;
  border: 0.0625rem solid #eeeeee;
  border-radius: 0.25rem;
  box-sizing: border-box;
  overflow: auto hidden;
  padding: 0.5rem;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  justify-content: flex-start;
}
#parkingLotAdd > .parkingLotAddForm > .attachedImage > .image-container > .empty {
  height: 10rem;
  background-color: #dbdbdb;
  flex: 1;
  text-align: center;
  border-radius: 0.25rem;
  color: #292929;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#parkingLotAdd > .parkingLotAddForm > .attachedImage > .image-container > .image-wrapper > .image {
  width: 10rem;
  height: 10rem;
  border: 0.15rem solid #e0e0e0;
  border-radius: 0.25rem;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}
#parkingLotAdd > .parkingLotAddForm > .attachedImage > .image-container > .image-wrapper > [type=checkbox] {
  display: none;
}
#parkingLotAdd > .parkingLotAddForm > .attachedImage > .image-container > .image-wrapper > [type=checkbox]:checked + .image {
  border: 0.15rem solid #3498db;
}
#parkingLotAdd > .parkingLotAddForm > .attachedImage > .button-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  justify-content: flex-start;
}
#parkingLotAdd > .parkingLotAddForm > .attachedImage > .button-container > .spring {
  flex: 1;
}
#parkingLotAdd > .parkingLotAddForm > ._obj-label > .description {
  height: 10rem;
  resize: none;
}

#parkingLotInfo {
  left: 50%;
  width: 85%;
  transform: translate(-50%);
  position: relative;
  overflow: auto;
  align-items: center;
  display: none;
  flex-direction: column;
  gap: 1.5rem;
}
#parkingLotInfo::-webkit-scrollbar {
  display: none;
}
#parkingLotInfo > .contractorTitleDiv {
  text-align: center;
}
#parkingLotInfo > .contractorTitleDiv > h2 {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
#parkingLotInfo > .contractorTitleDiv > .text {
  font-size: 1.2rem;
}
#parkingLotInfo > .parkingLot-table {
  border: 0.13rem solid #0B005C;
  border-radius: 0.375rem;
  display: table;
  table-layout: auto;
  width: 99%;
}
#parkingLotInfo > .parkingLot-table > .parkingLot-thead {
  display: table-header-group;
}
#parkingLotInfo > .parkingLot-table > .parkingLot-thead > .parkingLot-tr {
  display: table-row;
}
#parkingLotInfo > .parkingLot-table > .parkingLot-thead > .parkingLot-tr > .text {
  border: 0.13rem solid #0B005C;
  font-weight: 500;
  overflow: hidden;
  padding: 0.5rem;
  text-align: center;
  display: table-cell;
}
#parkingLotInfo > .parkingLot-table > .parkingLot-tbody {
  display: table-row-group;
}
#parkingLotInfo > .parkingLot-table > .parkingLot-tbody > .parkingLot-list-tr {
  display: table-row;
}
#parkingLotInfo > .parkingLot-table > .parkingLot-tbody > .parkingLot-list-tr > .text {
  padding: 0.5rem;
  border: 0.0625rem solid #0B005C;
  display: table-cell;
}
#parkingLotInfo > .parkingLot-table > .parkingLot-tbody > .parkingLot-list-tr > .text.title {
  cursor: pointer;
}
#parkingLotInfo > .parkingLot-table > .parkingLot-tbody > .parkingLot-list-tr > .text.title:hover {
  text-decoration: underline;
}
#parkingLotInfo > .parkingLot-table > .parkingLot-tbody > .parkingLot-list-tr > .text.index {
  text-align: center;
}

#addressFinder {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.6274509804);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 250ms;
  z-index: 9;
}
#addressFinder > .dialog {
  top: calc(50% + 0.5rem);
  left: 50%;
  width: 22.5rem;
  height: 27.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  overflow: hidden;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: top 250ms;
}
#addressFinder.-visible {
  opacity: 1;
  pointer-events: all;
}
#addressFinder.-visible > .dialog {
  top: 50%;
}

/*# sourceMappingURL=contractorPage.css.map */
