#detailAside::-webkit-scrollbar {
  display: none;
}
#detailAside > .image-container {
  width: 100%;
  height: 10rem;
}
#detailAside > .image-container > .swiper-wrapper > .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#detailAside > .image-container > .swiper-wrapper > .swiper-slide img {
  display: inline-block;
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
#detailAside > .image-container > .swiper-wrapper > .swiper-slide img:hover {
  filter: brightness(75%);
}
#detailAside > .image-container > .swiper-scrollbar {
  bottom: 77% !important;
}
#detailAside > .image-container > .swiper-scrollbar > .swiper-scrollbar-drag {
  background: #0B005C;
}

#detailAside > .info-container {
  border-bottom: 0.2rem solid #0B005C;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#detailAside > .info-container > .name-container {
  padding: 1.25rem 1.25rem 0.5rem 1.25rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.3rem;
}
#detailAside > .info-container > .name-container > .name {
  font-size: 1rem;
  font-weight: 1000;
}
#detailAside > .info-container > .name-container > .category {
  color: #757575;
  font-size: 1rem;
}
#detailAside > .info-container > .stat-container {
  color: #757575;
  padding: 0 1.25rem 1.25rem 1.25rem;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}
#detailAside > .info-container > .button-container {
  border-top: 0.0625rem solid #e0e0e0;
  border-bottom: 0.0625rem solid #eeeeee;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
#detailAside > .info-container > .button-container > .button {
  background-color: #ffffff;
  border: none;
  color: #757575;
  cursor: pointer;
  padding: 0.75rem 0.25rem;
  user-select: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  justify-content: center;
}
#detailAside > .info-container > .button-container > .button + .button {
  border-left: 0.09rem solid #eeeeee;
}
#detailAside > .info-container > .button-container > .button:hover {
  color: #5c5c5c;
}
#detailAside > .info-container > .button-container > .button:active {
  color: #424242;
}
#detailAside > .info-container > .button-container > .button.save.-saved {
  color: #28b463;
}

#detailAside > .reservation-container {
  font-size: 1rem;
  padding: 1.25rem;
}
#detailAside > .reservation-container > .referenceTimeDiv {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
#detailAside > .reservation-container > .referenceTimeDiv > ._obj-label > ._obj-input {
  height: 1rem;
}
#detailAside > .reservation-container > .referenceTimeDiv > ._obj-button {
  font-size: 0.9rem;
  white-space: nowrap;
  height: 5rem;
}
#detailAside > .reservation-container .reserved-table {
  margin-top: 1.2rem;
}
#detailAside > .reservation-container .reserved-table > .check-reserved-input {
  text-align: center;
  margin-bottom: 1.2rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
#detailAside > .reservation-container .reserved-table > .check-reserved-input .__text {
  font-size: 1.1rem;
}
#detailAside > .reservation-container .reserved-table > .check-reserved-input ._obj-input {
  width: 20rem;
  height: 2.5rem;
  text-align: center;
}
#detailAside > .reservation-container .reserved-table .slider {
  height: 10px;
  background-color: #bdbdbd;
  position: relative;
}
#detailAside > .reservation-container .reserved-table .slider .progress {
  height: 10px;
  position: absolute;
  border-radius: 5px;
  background-color: black;
}
#detailAside > .reservation-container .reserved-table > .reservedDiv {
  display: flex;
}
#detailAside > .reservation-container .reserved-table > .reservedDiv > .reservedSpanEl {
  width: 100%;
  height: 10px;
  top: -10px;
  background: none;
  position: relative;
}
#detailAside > .reservation-container .reserved-table > .reservedDiv > .reservedSpanEl.-visible {
  background: #0B005C;
  pointer-events: all;
}

.time-table {
  margin-top: -30px;
  padding-bottom: 1.25rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.time-table > .item {
  font-size: 0.9rem;
}
.time-table .spring {
  flex-grow: 1;
}

#detailAside > .spec-container {
  border-top: 0.2rem solid #0B005C;
  border-bottom: 0.2rem solid #0B005C;
  font-size: 1rem;
  padding: 1.25rem;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: flex-start;
}
#detailAside > .spec-container > .item {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.0625rem solid #0B005C;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
#detailAside > .spec-container > .item > .title {
  font-weight: 500;
  color: #212121;
}
#detailAside > .spec-container > .item > .content {
  overflow: auto;
  white-space: nowrap;
}
#detailAside > .spec-container > .item > .content label textarea {
  width: 20rem;
  white-space: nowrap;
}

#listAside::-webkit-scrollbar {
  display: none;
}
#listAside > .searchClear-container {
  border-bottom: 0.0625rem solid #eeeeee;
}
#listAside > .searchClear-container > .searchClear {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#listAside > .searchClear-container > .searchClear > ._obj-button {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  width: 80%;
}
#listAside > .parkingLots {
  white-space: nowrap;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#listAside > .parkingLots > .empty {
  border-bottom: 0.0625rem solid #eeeeee;
  color: #757575;
  padding: 2rem 0.5rem;
  text-align: center;
}
#listAside > .parkingLots > .item {
  border-bottom: 0.0625rem solid #eeeeee;
  cursor: pointer;
  padding: 1.125rem;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}
#listAside > .parkingLots > .item:hover {
  background-color: #f2f2f2;
}
#listAside > .parkingLots > .item > .thumbnailInfo {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
#listAside > .parkingLots > .item > .thumbnailInfo > .thumbnail {
  width: 8rem;
  aspect-ratio: 1/1;
  border-radius: 0.25rem;
  object-fit: cover;
  object-position: center;
  position: relative;
}
#listAside > .parkingLots > .item > .thumbnailInfo > .menu {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
}
#listAside > .parkingLots > .item > .thumbnailInfo > .menu > .item {
  color: #757575;
  font-size: 0.8rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: center;
}
#listAside > .parkingLots > .item > .info {
  flex: 1;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  justify-content: flex-start;
}
#listAside > .parkingLots > .item > .info > .title {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: flex-start;
}
#listAside > .parkingLots > .item > .info > .title > .parkingLotName {
  color: #0B005C;
  font-size: 1.125rem;
  font-weight: 400;
}
#listAside > .parkingLots > .item > .info > .title > .parkingLotCategory {
  color: #757575;
  font-size: 1rem;
}
#listAside > .parkingLots > .item > .info > .address {
  display: flex;
  flex-direction: column;
  gap: 0.0625rem;
}
#listAside > .parkingLots > .item > .info > .address > .addressPrimary {
  font-weight: 400;
  color: #757575;
}
#listAside > .parkingLots > .item > .info > .address > .addressSecondary {
  color: #757575;
  font-size: 0.95rem;
}

#categoryDialog {
  top: 6.9%;
  left: 91%;
  width: 8rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 1.5rem 0.0625rem rgba(33, 33, 33, 0.3764705882);
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition-duration: 250ms;
  z-index: 9;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}
#categoryDialog.-visible {
  opacity: 1;
  pointer-events: all;
}
#categoryDialog > .category-container {
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#categoryDialog > .category-container > .item {
  padding: 0.5rem;
  cursor: pointer;
}
#categoryDialog > .category-container > .item:hover {
  background-color: #f0f0f0;
}

#inquiryBoardDialog {
  width: 50%;
  height: 92%;
  overflow: auto;
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#inquiryBoardDialog::-webkit-scrollbar {
  display: none;
}
#inquiryBoardDialog > .title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 1rem;
}
#inquiryBoardDialog > .title > .text {
  font-size: 1.2rem;
}
#inquiryBoardDialog > .inquiry-board-table {
  border: 0.13rem solid #0B005C;
  border-radius: 0.375rem;
  display: table;
  table-layout: auto;
  width: 99%;
}
#inquiryBoardDialog > .inquiry-board-table > .inquiry-board-thead {
  display: table-header-group;
}
#inquiryBoardDialog > .inquiry-board-table > .inquiry-board-thead > .inquiry-board-tr {
  display: table-row;
}
#inquiryBoardDialog > .inquiry-board-table > .inquiry-board-thead > .inquiry-board-tr > .text {
  border: 0.13rem solid #0B005C;
  font-weight: 500;
  overflow: hidden;
  padding: 0.5rem;
  text-align: center;
  display: table-cell;
}
#inquiryBoardDialog > .inquiry-board-table > .inquiry-board-tbody {
  display: table-row-group;
}
#inquiryBoardDialog > .inquiry-board-table > .inquiry-board-tbody > .inquiry-board-tr {
  display: table-row;
}
#inquiryBoardDialog > .inquiry-board-table > .inquiry-board-tbody > .inquiry-board-tr > .text {
  text-align: center;
  padding: 0.5rem;
  border: 0.0625rem solid #0B005C;
  display: table-cell;
}
#inquiryBoardDialog > .inquiry-board-table > .inquiry-board-tbody > .inquiry-board-tr > .text.title {
  overflow: hidden;
  cursor: pointer;
}
#inquiryBoardDialog > .inquiry-board-table > .inquiry-board-tbody > .inquiry-board-tr > .text.title:hover {
  text-decoration: underline;
}
#inquiryBoardDialog > .spring {
  height: 100%;
}
#inquiryBoardDialog > .aTagContainer {
  transform: translateY(-1rem);
  border: 0.15rem solid #0B005C;
  border-radius: 99rem;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
}
#inquiryBoardDialog > ._obj-button {
  font-size: 1.1rem;
  width: 30rem;
}

#inquiryArticleWriteFormDialog {
  width: 30%;
  overflow: auto;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#inquiryArticleWriteFormDialog::-webkit-scrollbar {
  display: none;
}
#inquiryArticleWriteFormDialog > .title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 1rem;
}
#inquiryArticleWriteFormDialog > .inquiryArticleWriteForm {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#inquiryArticleWriteFormDialog > .inquiryArticleWriteForm > ._obj-label {
  display: flex;
  gap: 0.5rem;
}
#inquiryArticleWriteFormDialog > .inquiryArticleWriteForm > ._obj-label > .__text {
  font-size: 1.1rem;
  font-weight: 400;
}
#inquiryArticleWriteFormDialog > .inquiryArticleWriteForm > ._obj-label textarea {
  height: 10rem;
  resize: none;
}

#inquiryArticleReadDialog {
  width: 40%;
  height: 80%;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
#inquiryArticleReadDialog > .title-container {
  width: 100%;
  text-align: center;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
}
#inquiryArticleReadDialog > .title-container > .index {
  width: 10%;
  text-align: center;
}
#inquiryArticleReadDialog > .title-container > .index > .text {
  font-size: 1.1rem;
  font-weight: 400;
}
#inquiryArticleReadDialog > .title-container > .index > ._obj-input {
  height: 2rem;
  font-size: 1rem;
  text-align: center;
}
#inquiryArticleReadDialog > .title-container > .title {
  width: 70%;
  text-align: center;
}
#inquiryArticleReadDialog > .title-container > .title > .text {
  font-size: 1.1rem;
  font-weight: 400;
}
#inquiryArticleReadDialog > .title-container > .title > ._obj-input {
  height: 2rem;
  font-size: 1rem;
  text-align: center;
}
#inquiryArticleReadDialog > .title-container > .writer {
  width: 20%;
  text-align: center;
}
#inquiryArticleReadDialog > .title-container > .writer > .text {
  font-size: 1.1rem;
  font-weight: 400;
}
#inquiryArticleReadDialog > .title-container > .writer > ._obj-input {
  height: 2rem;
  font-size: 1rem;
  text-align: center;
}
#inquiryArticleReadDialog > .info-container {
  width: 100%;
  text-align: center;
  transform: translateY(-0.8rem);
  align-items: stretch;
  display: flex;
  flex-direction: row;
}
#inquiryArticleReadDialog > .info-container > .dateTime {
  width: 85%;
  text-align: center;
}
#inquiryArticleReadDialog > .info-container > .dateTime > .text {
  font-size: 1.1rem;
  font-weight: 400;
}
#inquiryArticleReadDialog > .info-container > .dateTime > ._obj-input {
  height: 2rem;
  font-size: 1rem;
  text-align: center;
}
#inquiryArticleReadDialog > .info-container > .view {
  width: 15%;
  text-align: center;
}
#inquiryArticleReadDialog > .info-container > .view > .text {
  font-size: 1.1rem;
  font-weight: 400;
}
#inquiryArticleReadDialog > .info-container > .view > ._obj-input {
  height: 2rem;
  font-size: 1rem;
  text-align: center;
}
#inquiryArticleReadDialog > .content-container > ._obj-label {
  display: flex;
  gap: 0.5rem;
}
#inquiryArticleReadDialog > .content-container > ._obj-label > .text {
  font-size: 1.1rem;
  font-weight: 400;
}
#inquiryArticleReadDialog > .content-container > ._obj-label > ._obj-input {
  height: 15rem;
  resize: none;
  overflow: auto;
}
#inquiryArticleReadDialog > .spring {
  flex: 1;
}
#inquiryArticleReadDialog > .button-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#inquiryArticleReadDialog > .button-container > ._obj-button {
  font-size: 1rem;
}
#inquiryArticleReadDialog > ._obj-button {
  font-size: 1rem;
}

#inquiryArticleModifyFormDialog {
  width: 30%;
  overflow: auto;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#inquiryArticleModifyFormDialog::-webkit-scrollbar {
  display: none;
}
#inquiryArticleModifyFormDialog > .title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 1rem;
}
#inquiryArticleModifyFormDialog > .inquiryArticleModifyForm {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
#inquiryArticleModifyFormDialog > .inquiryArticleModifyForm > ._obj-label {
  display: flex;
  gap: 0.5rem;
}
#inquiryArticleModifyFormDialog > .inquiryArticleModifyForm > ._obj-label > .__text {
  font-size: 1.1rem;
  font-weight: 400;
}
#inquiryArticleModifyFormDialog > .inquiryArticleModifyForm > ._obj-label textarea {
  height: 10rem;
  resize: none;
}

#generalBoardDialog {
  width: 50%;
  height: 94%;
  overflow: auto;
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#generalBoardDialog::-webkit-scrollbar {
  display: none;
}
#generalBoardDialog > .title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 1rem;
}
#generalBoardDialog > .title > .text {
  font-size: 1.2rem;
}
#generalBoardDialog > .general-board-table {
  border: 0.13rem solid #0B005C;
  border-radius: 0.375rem;
  display: table;
  table-layout: auto;
  width: 99%;
}
#generalBoardDialog > .general-board-table > .general-board-thead {
  display: table-header-group;
}
#generalBoardDialog > .general-board-table > .general-board-thead > .general-board-tr {
  display: table-row;
}
#generalBoardDialog > .general-board-table > .general-board-thead > .general-board-tr > .text {
  border: 0.13rem solid #0B005C;
  font-weight: 500;
  overflow: hidden;
  padding: 0.5rem;
  text-align: center;
  display: table-cell;
}
#generalBoardDialog > .general-board-table > .general-board-tbody {
  display: table-row-group;
}
#generalBoardDialog > .general-board-table > .general-board-tbody > .general-board-tr {
  display: table-row;
}
#generalBoardDialog > .general-board-table > .general-board-tbody > .general-board-tr > .text {
  text-align: center;
  padding: 0.5rem;
  border: 0.0625rem solid #0B005C;
  display: table-cell;
}
#generalBoardDialog > .general-board-table > .general-board-tbody > .general-board-tr > .text.title {
  overflow: hidden;
  cursor: pointer;
}
#generalBoardDialog > .general-board-table > .general-board-tbody > .general-board-tr > .text.title:hover {
  text-decoration: underline;
}
#generalBoardDialog > .spring {
  height: 100%;
}
#generalBoardDialog > .aTagContainer {
  transform: translateY(-1rem);
  border: 0.15rem solid #0B005C;
  border-radius: 99rem;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
}
#generalBoardDialog > ._obj-button {
  font-size: 1.1rem;
  width: 30rem;
}

#generalArticleWriteFormDialog {
  width: 30%;
  overflow: auto;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#generalArticleWriteFormDialog::-webkit-scrollbar {
  display: none;
}
#generalArticleWriteFormDialog > .title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 1rem;
}
#generalArticleWriteFormDialog > .generalArticleWriteForm {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#generalArticleWriteFormDialog > .generalArticleWriteForm > ._obj-label {
  display: flex;
  gap: 0.5rem;
}
#generalArticleWriteFormDialog > .generalArticleWriteForm > ._obj-label > .__text {
  font-size: 1.1rem;
  font-weight: 400;
}
#generalArticleWriteFormDialog > .generalArticleWriteForm > ._obj-label textarea {
  height: 10rem;
  resize: none;
}

#generalArticleReadDialog {
  width: 40%;
  height: 80%;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
#generalArticleReadDialog > .title-container {
  width: 100%;
  text-align: center;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
}
#generalArticleReadDialog > .title-container > .index {
  width: 10%;
  text-align: center;
}
#generalArticleReadDialog > .title-container > .index > .text {
  font-size: 1.1rem;
  font-weight: 400;
}
#generalArticleReadDialog > .title-container > .index > ._obj-input {
  height: 2rem;
  font-size: 1rem;
  text-align: center;
}
#generalArticleReadDialog > .title-container > .title {
  width: 70%;
  text-align: center;
}
#generalArticleReadDialog > .title-container > .title > .text {
  font-size: 1.1rem;
  font-weight: 400;
}
#generalArticleReadDialog > .title-container > .title > ._obj-input {
  height: 2rem;
  font-size: 1rem;
  text-align: center;
}
#generalArticleReadDialog > .title-container > .writer {
  width: 20%;
  text-align: center;
}
#generalArticleReadDialog > .title-container > .writer > .text {
  font-size: 1.1rem;
  font-weight: 400;
}
#generalArticleReadDialog > .title-container > .writer > ._obj-input {
  height: 2rem;
  font-size: 1rem;
  text-align: center;
}
#generalArticleReadDialog > .info-container {
  width: 100%;
  text-align: center;
  transform: translateY(-0.8rem);
  align-items: stretch;
  display: flex;
  flex-direction: row;
}
#generalArticleReadDialog > .info-container > .dateTime {
  width: 85%;
  text-align: center;
}
#generalArticleReadDialog > .info-container > .dateTime > .text {
  font-size: 1.1rem;
  font-weight: 400;
}
#generalArticleReadDialog > .info-container > .dateTime > ._obj-input {
  height: 2rem;
  font-size: 1rem;
  text-align: center;
}
#generalArticleReadDialog > .info-container > .view {
  width: 15%;
  text-align: center;
}
#generalArticleReadDialog > .info-container > .view > .text {
  font-size: 1.1rem;
  font-weight: 400;
}
#generalArticleReadDialog > .info-container > .view > ._obj-input {
  height: 2rem;
  font-size: 1rem;
  text-align: center;
}
#generalArticleReadDialog > .content-container > ._obj-label {
  display: flex;
  gap: 0.5rem;
}
#generalArticleReadDialog > .content-container > ._obj-label > .text {
  font-size: 1.1rem;
  font-weight: 400;
}
#generalArticleReadDialog > .content-container > ._obj-label > ._obj-input {
  height: 15rem;
  resize: none;
  overflow: auto;
}
#generalArticleReadDialog > .spring {
  flex: 1;
}
#generalArticleReadDialog > .button-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#generalArticleReadDialog > .button-container > ._obj-button {
  font-size: 1rem;
}
#generalArticleReadDialog > ._obj-button {
  font-size: 1rem;
}

#generalArticleModifyFormDialog {
  width: 30%;
  overflow: auto;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#generalArticleModifyFormDialog::-webkit-scrollbar {
  display: none;
}
#generalArticleModifyFormDialog > .title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 1rem;
}
#generalArticleModifyFormDialog > .generalArticleModifyForm {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
#generalArticleModifyFormDialog > .generalArticleModifyForm > ._obj-label {
  display: flex;
  gap: 0.5rem;
}
#generalArticleModifyFormDialog > .generalArticleModifyForm > ._obj-label > .__text {
  font-size: 1.1rem;
  font-weight: 400;
}
#generalArticleModifyFormDialog > .generalArticleModifyForm > ._obj-label textarea {
  height: 10rem;
  resize: none;
}

body {
  height: 100vh;
  background-color: #f5f5f5;
  margin: initial;
  overflow: hidden;
}
body > .aside {
  top: 0;
  left: 0;
  width: 27rem;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 1.5rem 0.0625rem rgba(33, 33, 33, 0.3764705882);
  box-sizing: border-box;
  opacity: 0;
  overflow: hidden auto;
  pointer-events: none;
  position: fixed;
  transition-duration: 250ms;
  transition-property: opacity;
  z-index: 2;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
body > .aside > .title {
  top: 0;
  backdrop-filter: blur(0.5rem);
  background-color: #0B005C;
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.75rem;
  position: sticky;
  text-align: center;
  z-index: 9;
}
body > .aside > .title > .closer {
  top: 50%;
  left: 0.625rem;
  width: 1.75rem;
  height: 1.75rem;
  box-sizing: border-box;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body > .aside > .title > .closer:hover {
  background-color: #eeeeee;
  color: #212121;
}
body > .aside.-visible {
  opacity: 1;
  pointer-events: all;
}
@media screen and (max-width: 85rem) {
  body #nav > .button-container {
    display: none;
  }
}
@media screen and (max-width: 68rem) {
  body #nav {
    display: none;
  }
}

#nav {
  top: 0;
  margin-left: 27rem;
  width: 100%;
  height: 4.5rem;
  position: absolute;
  z-index: 3;
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: center;
}
#nav #searchForm {
  width: 40rem;
  height: 3rem;
  left: calc(50% + 13.5rem);
  transform: translateX(-50%);
  border-radius: 99rem;
  border: 0.2rem solid #0B005C;
  background-color: #f5f5f5;
  margin: 1rem 0 1rem 0;
  position: fixed;
  display: flex;
  gap: 1rem;
}
#nav #searchForm > .searchLabel > .searchInput {
  width: 33rem;
  height: 3rem;
  margin-left: 2rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #f5f5f5;
}
#nav #searchForm > .searchButton {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: #f5f5f5;
  color: #0B005C;
  border-radius: 999rem;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}
#nav #searchForm > .searchButton:hover {
  background-color: #eeeeee;
}
#nav > .button-container {
  right: 2rem;
  position: fixed;
  display: flex;
  gap: 0.625rem;
}
#nav > .button-container > .button {
  width: 3rem;
  height: 3rem;
  border-radius: 999rem;
  border: 0.0625rem solid #ffffff;
  background-color: #0B005C;
  font-weight: 400;
  font-size: 1.3rem;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}

#map {
  height: 100%;
  margin-left: 27rem;
}

/*# sourceMappingURL=index.css.map */
