@charset "UTF-8";
@import "userPage.dialog";

body {
  background-color: #0B005C;
}

#userPage {
  background-color: #f5f5f5;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  border-radius: 0.375rem;
  position: fixed;
  transform: translate(-50%, -50%);
  overflow: auto;

  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  > .userPageTitleDiv {
    background-color: #f5f5f5;
    top: 0;
    position: sticky;
    z-index: 9;

    > .titleDiv {
      font-size: 2rem;
      font-weight: 400;
      padding: 1rem 2rem;
      text-align: center;
      //align-items: center;
      //display: flex;
      //flex-direction: row;

      > .closer {
        left: 2rem;
        padding: 0.8rem;
        font-size: 1rem;
        position: absolute;
        text-align: center;

        > .text {
          font: inherit;
        }

        &:hover {
          cursor: pointer;
          border-radius: 5rem;
          background-color: darken(#e0e0e0, 1%);
        }
      }
    }

    > .type-wrapper {
      padding: 0 2rem;
      display: grid;
      gap: 0.5rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));

      > .type {
        background-color: darken(#e0e0e0, 1%);
        border: 0.0625rem solid darken(#e0e0e0, 5%);
        border-radius: 0.25rem;
        cursor: pointer;
        padding: 0.75rem 1rem;
        user-select: none;

        align-items: stretch;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: flex-start;

        > [name="type"] {
          display: none;
        }

        > .title {
          font-size: 1.2rem;
          white-space: nowrap;
          text-align: center;
        }

        > .message {
          color: #757575;
          font-size: 0.8rem;
          line-height: 1.25;
        }

        &:hover {
          border-color: #212121;
        }

        &:has([name="type"]:checked) {
          border-color: #0B005C;
        }
      }
    }

    &:has([name="type"][value="reservedHistory"]:checked) ~ .div.reservedHistory {
      display: flex;
    }

    &:has([name="type"][value="userInfo"]:checked) ~ .div.userInfo {
      display: flex;
    }
  }
}


#reservedHistory {
  left: 50%;
  width: 90%;
  transform: translate(-50%);
  position: relative;

  align-items: center;
  display: none;
  flex-direction: column;
  gap: 1.5rem;

  > .reservedHistoryTitleDiv {
    text-align: center;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;

    > h2 {
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: 500;
    }

    > .text {
      font-size: 1.2rem;
    }

    > .smail-text {
      color: red;
    }
  }

  > .reservedHistory-table {
    border: 0.13rem solid #0B005C;
    border-radius: 0.375rem;
    display: table;
    table-layout: auto;
    width: 100%;

    > .reservedHistory-thead {
      display: table-header-group;

      > .reservedHistory-tr {
        display: table-row;

        > .text {
          border: 0.13rem solid #0B005C;
          font-weight: 500;
          overflow: hidden;
          padding: 0.5rem;
          text-align: center;
          display: table-cell;
        }
      }
    }

    > .reservedHistory-tbody {
      display: table-row-group;

      > .reservedHistory-list-tr {
        display: table-row;

        > .text {
          text-align: center;
          padding: 0.5rem;
          border: 0.0625rem solid #0B005C;
          display: table-cell;

          > ._obj-button {
            width: 100%;
            height: 1.5rem;
          }
        }
      }
    }
  }

  > .reservedHistory-tfoot {

    text-align: center;
  }
}

#userInfo {
  left: 50%;
  width: 50%;
  height: 100%;
  border-radius: 0.375rem;
  padding: 1rem 2rem 2rem;
  overflow: auto;
  position: relative;
  transform: translate(-50%);

  align-items: stretch;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;

  &::-webkit-scrollbar {
    display: none;
  }

  > .infoDiv {
    border: 0.0625rem solid #0B005C;
    border-radius: 0.25rem;
    padding: 2rem 3rem 3rem;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;

    > .title {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
    }

    > .item {

      align-items: stretch;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;

      i {
        font-size: 1.2rem;

        > .text {
          font-size: 1.1rem;
          font-weight: 500;
        }
      }

      > .content {
        width: 100%;
        height: 3rem;
        border: 0.0625rem solid #0B005C;
        border-radius: 0.25rem;

        align-items: center;
        display: flex;
        justify-content: center;

        > .content-text {
          font-size: 1.1rem;
        }
      }
    }
  }

  > .statusInfo {
    border: 0.0625rem solid #0B005C;
    border-radius: 0.25rem;
    padding: 2rem 3rem 3rem;


    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;

    > .title {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
    }

    > .item {

      align-items: stretch;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;

      i {
        font-size: 1.2rem;

        > .text {
          font-size: 1.1rem;
          font-weight: 500;
        }
      }

      > .content {
        width: 100%;
        height: 3rem;
        border: 0.0625rem solid #0B005C;
        border-radius: 0.25rem;

        align-items: center;
        display: flex;
        justify-content: center;

        > .content-text {
          font-size: 1.1rem;
        }
      }
    }
  }
}