<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div id="reservedHistory" class="div reservedHistory" th:fragment="reservedHistory">

    <div class="reservedHistoryTitleDiv">
        <h2>예약 내역</h2>
        <span class="text">농협 OOO-OOOO-OOOO-OO 계좌번호로 입금해 주시면 협력업체 관리자 확인 후 결제가 완료됩니다.</span>
        <span class="smail-text">국비 수업 프로젝트 페이지입니다. 예시 사항일 뿐 실제 입금 처리되지 않습니다.</span>
    </div>

    <div class="reservedHistory-table" rel="reservedHistoryTable">
        <div class="reservedHistory-thead">
            <div class="reservedHistory-tr">
                <span class="text">번호</span>
                <span class="text">주차장 이름</span>
                <span class="text">예약자 이메일</span>
                <span class="text">예약자 차량번호</span>
                <span class="text">예약자 전화번호</span>
                <span class="text">예약 기간</span>
                <span class="text">최종 결제 금액</span>
                <span class="text">예약 날짜</span>
                <span class="text">결제 상태</span>
                <span class="text">환불 상태</span>
            </div>
        </div>

        <div class="reservedHistory-tbody" rel="reservedHistoryTbody">

        </div>
    </div>

</div>

</html>