<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div id="reservedHistory" class="div reservedHistory" th:fragment="reservedHistory">

    <div class="reservedHistoryTitleDiv">
        <h2>예약 내역</h2>
    </div>

    <div class="reservedHistory-table">
        <div class="reservedHistory-thead">
            <div class="reservedHistory-tr">
                <span class="text">번호</span>
                <span class="text">주차장 이름</span>
                <span class="text">예약자 이메일</span>
                <span class="text">예약자 차량번호</span>
                <span class="text">예약자 전화번호</span>
                <span class="text">예약 기간</span>
                <span class="text">최종 결제 금액</span>
                <span class="text">예약 날짜</span>
                <span class="text">결제 상태</span>
                <span class="text">환불 상태</span>
            </div>
        </div>

        <div class="reservedHistory-tbody" rel="reservedHistoryTbody">

        </div>
    </div>
</div>

</html>