<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div id="contractorInfo" class="div contractorInfo" th:fragment="contractorInfo">
    <div class="contractorTitleDiv">
        <h2>협력업체 정보</h2>
    </div>

    <div class="infoDiv">
        <div class="title">기본정보</div>
        <span class="text">
            <i class="fa-regular fa-circle-user"></i>
            <span class="__text" th:if="${session.contractor != null}" th:text="${session.contractor.getName()}"></span>
        </span>

        <span class="text">
            <input hidden name="contractorEmail" type="hidden" th:if="${session.contractor != null}" th:value="${session.contractor.getEmail()}">
            <i class="fa-regular fa-envelope"></i>
            <span class="__text" th:if="${session.contractor != null}" th:text="${session.contractor.getEmail()}"></span>
        </span>

        <span class="text">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <span class="__text" th:if="${session.contractor != null}" th:text="${session.contractor.getContactFirst()} + '-' + ${session.contractor.getContactSecond()} + '-' + ${session.contractor.getContactThird()}"></span>
        </span>

        <span class="text">
            <i class="fa-regular fa-address-card"></i>
            <span class="__text" th:if="${session.contractor != null}" th:text="${session.contractor.getTinFirst()} + '-' + ${session.contractor.getTinSecond()} + '-' + ${session.contractor.getTinThird()}"></span>
        </span>
    </div>

    <div class="statusInfo">
        <div class="title">상태 정보</div>

        <span class="text">
            <span class="__text">등록된 주차장 개수</span>
        </span>

        <span class="text">
            <span class="__text">협력업체 회원가입 일시</span>
            <span class="content" th:if="${session.contractor != null}" th:text="${session.contractor.getCreatedAt()}"></span>
        </span>

    </div>
</div>
</html>