<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/access.register.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/common.css}">

    <script defer th:if="${session.user != null}">
        alert('로그인 되어 있는 상태입니다. 로그아웃 후 다시 시도해 주세요.');
        location.href = '/';
    </script>

    <script defer th:if="${session.contractor != null}">
        alert('협력업체 로그인 되어있는 상태입니다. 협력업체 로그아웃 후 다시 시도해 주세요.');
        location.href = '/contractor/'
    </script>

    <title>회원가입</title>
</head>
<body th:if="${session.user == null && session.contractor == null}">

<div class="registerDiv" id="registerDiv">
    <div class="titleDiv">
        <h2 class="__title">회원가입</h2>
    </div>

    <div class="type-wrapper">
        <a class="__text" href="register/userRegister">개인 회원가입</a>


        <a class="__text" href="register/contractorRegister">협력업체 회원가입</a>
    </div>
</div>
</body>

</html>