<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="categoryDialog" id="categoryDialog" th:fragment="categoryDialog">
    <ul class="category-container">
        <li class="item">
            <span class="text"><a href="/userPage/">마이페이지</a></span>
        </li>
        <li class="item">
            <span class="text">자유 게시판</span>
        </li>
        <li class="item">
            <span class="text">공지사항 게시판</span>
        </li>
        <li class="item">
            <span class="text">이벤트 게시판</span>
        </li>
        <li class="item">
            <span class="text">문의 게시판</span>
        </li>
    </ul>
</div>
</html>