<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<aside class="aside list" id="detailAside" th:fragment="detailAside">
    <h2 class="title">
        <i class="closer fa-solid fa-angle-left" rel="closer"></i>
        주차장 상세정보
    </h2>

    <div class="image-container" rel="imageContainer">
        <div class="swiper-wrapper" rel="swiperWrapper">

        </div>
        <div class="swiper-scrollbar" rel="swiperScrollbar"></div>
    </div>

    <div class="info-container">

        <div class="name-container">
            <span class="name" rel="name"></span>
            <span class="category" rel="parkingLotCategoryText"></span>
        </div>

        <div class="stat-container">
            <div class="item favorite">
                <span class="text">즐겨찾기</span>
                <span class="value" rel="favoriteCount"></span>
            </div>

            <div class="item review">
                <span class="text">리뷰</span>
                <span class="value" rel="reviewCount"></span>
            </div>
        </div>

        <div class="button-container">
            <button class="button save" rel="saveButton" type="button">
                <i class="icon fa-solid fa-star"></i>
                <span class="text">즐겨찾기</span>
            </button>

            <button class="button" rel="reportButton" type="button">
                <i class="icon fa-solid fa-circle-exclamation"></i>
                <span class="text">신고</span>
            </button>

            <button class="button" rel="reservationButton" type="button">
                <i class="icon fa-solid fa-pen"></i>
                <span class="text">예약</span>
            </button>
        </div>

    </div>

    <div class="reservation-container">
        <div class="referenceTimeDiv" id="referenceTimeDiv">
            <label class="_obj-label">
                <span class="__text">예약 시작 시간</span>
                <input required readonly class="_obj-input __field" name="startDateTime" type="text">
                <span class="__text">예약 종료 시간</span>
                <input required readonly class="_obj-input __field" name="endDateTime" type="text">
            </label>

            <button class="_obj-button" rel="referenceTimeButton">기준 시간 설정</button>
        </div>

        <div class="reserved-table">
            <div class="slider">
                <div class="progress"></div>
            </div>
            <div class="reservedDiv" id="reservedDiv">
                <span class="reservedSpanEl" value="1"></span>
                <span class="reservedSpanEl" value="2"></span>
                <span class="reservedSpanEl" value="3"></span>
                <span class="reservedSpanEl" value="4"></span>
                <span class="reservedSpanEl" value="5"></span>
                <span class="reservedSpanEl" value="6"></span>
                <span class="reservedSpanEl" value="7"></span>
                <span class="reservedSpanEl" value="8"></span>
                <span class="reservedSpanEl" value="9"></span>
                <span class="reservedSpanEl" value="10"></span>
                <span class="reservedSpanEl" value="11"></span>
                <span class="reservedSpanEl" value="12"></span>
                <span class="reservedSpanEl" value="13"></span>
                <span class="reservedSpanEl" value="14"></span>
                <span class="reservedSpanEl" value="15"></span>
                <span class="reservedSpanEl" value="16"></span>
                <span class="reservedSpanEl" value="17"></span>
                <span class="reservedSpanEl" value="18"></span>
                <span class="reservedSpanEl" value="19"></span>
                <span class="reservedSpanEl" value="20"></span>
                <span class="reservedSpanEl" value="21"></span>
                <span class="reservedSpanEl" value="22"></span>
                <span class="reservedSpanEl" value="23"></span>
                <span class="reservedSpanEl" value="24"></span>
                <span class="reservedSpanEl" value="25"></span>
                <span class="reservedSpanEl" value="26"></span>
                <span class="reservedSpanEl" value="27"></span>
                <span class="reservedSpanEl" value="28"></span>
                <span class="reservedSpanEl" value="29"></span>
                <span class="reservedSpanEl" value="30"></span>
                <span class="reservedSpanEl" value="31"></span>
                <span class="reservedSpanEl" value="32"></span>
                <span class="reservedSpanEl" value="33"></span>
                <span class="reservedSpanEl" value="34"></span>
                <span class="reservedSpanEl" value="35"></span>
                <span class="reservedSpanEl" value="36"></span>
                <span class="reservedSpanEl" value="37"></span>
                <span class="reservedSpanEl" value="38"></span>
                <span class="reservedSpanEl" value="39"></span>
                <span class="reservedSpanEl" value="40"></span>
                <span class="reservedSpanEl" value="41"></span>
                <span class="reservedSpanEl" value="42"></span>
                <span class="reservedSpanEl" value="43"></span>
                <span class="reservedSpanEl" value="44"></span>
                <span class="reservedSpanEl" value="45"></span>
                <span class="reservedSpanEl" value="46"></span>
                <span class="reservedSpanEl" value="47"></span>
                <span class="reservedSpanEl" value="48"></span>
                <span class="reservedSpanEl" value="49"></span>
                <span class="reservedSpanEl" value="50"></span>
                <span class="reservedSpanEl" value="51"></span>
                <span class="reservedSpanEl" value="52"></span>
                <span class="reservedSpanEl" value="53"></span>
                <span class="reservedSpanEl" value="54"></span>
                <span class="reservedSpanEl" value="55"></span>
                <span class="reservedSpanEl" value="56"></span>
                <span class="reservedSpanEl" value="57"></span>
                <span class="reservedSpanEl" value="58"></span>
                <span class="reservedSpanEl" value="59"></span>
                <span class="reservedSpanEl" value="60"></span>
                <span class="reservedSpanEl" value="61"></span>
                <span class="reservedSpanEl" value="62"></span>
                <span class="reservedSpanEl" value="63"></span>
                <span class="reservedSpanEl" value="64"></span>
                <span class="reservedSpanEl" value="65"></span>
                <span class="reservedSpanEl" value="66"></span>
                <span class="reservedSpanEl" value="67"></span>
                <span class="reservedSpanEl" value="68"></span>
                <span class="reservedSpanEl" value="69"></span>
                <span class="reservedSpanEl" value="70"></span>
                <span class="reservedSpanEl" value="71"></span>
                <span class="reservedSpanEl" value="72"></span>
                <span class="reservedSpanEl" value="73"></span>
                <span class="reservedSpanEl" value="74"></span>
                <span class="reservedSpanEl" value="75"></span>
                <span class="reservedSpanEl" value="76"></span>
                <span class="reservedSpanEl" value="77"></span>
                <span class="reservedSpanEl" value="78"></span>
                <span class="reservedSpanEl" value="79"></span>
                <span class="reservedSpanEl" value="80"></span>
                <span class="reservedSpanEl" value="81"></span>
                <span class="reservedSpanEl" value="82"></span>
                <span class="reservedSpanEl" value="83"></span>
                <span class="reservedSpanEl" value="84"></span>
                <span class="reservedSpanEl" value="85"></span>
                <span class="reservedSpanEl" value="86"></span>
                <span class="reservedSpanEl" value="87"></span>
                <span class="reservedSpanEl" value="88"></span>
                <span class="reservedSpanEl" value="89"></span>
                <span class="reservedSpanEl" value="90"></span>
                <span class="reservedSpanEl" value="91"></span>
                <span class="reservedSpanEl" value="92"></span>
                <span class="reservedSpanEl" value="93"></span>
                <span class="reservedSpanEl" value="94"></span>
                <span class="reservedSpanEl" value="95"></span>
                <span class="reservedSpanEl" value="96"></span>
                <span class="reservedSpanEl" value="97"></span>
                <span class="reservedSpanEl" value="98"></span>
                <span class="reservedSpanEl" value="99"></span>
                <span class="reservedSpanEl" value="100"></span>
                <span class="reservedSpanEl" value="101"></span>
                <span class="reservedSpanEl" value="102"></span>
                <span class="reservedSpanEl" value="103"></span>
                <span class="reservedSpanEl" value="104"></span>
                <span class="reservedSpanEl" value="105"></span>
                <span class="reservedSpanEl" value="106"></span>
                <span class="reservedSpanEl" value="107"></span>
                <span class="reservedSpanEl" value="108"></span>
                <span class="reservedSpanEl" value="109"></span>
                <span class="reservedSpanEl" value="110"></span>
                <span class="reservedSpanEl" value="111"></span>
                <span class="reservedSpanEl" value="112"></span>
                <span class="reservedSpanEl" value="113"></span>
                <span class="reservedSpanEl" value="114"></span>
                <span class="reservedSpanEl" value="115"></span>
                <span class="reservedSpanEl" value="116"></span>
                <span class="reservedSpanEl" value="117"></span>
                <span class="reservedSpanEl" value="118"></span>
                <span class="reservedSpanEl" value="119"></span>
                <span class="reservedSpanEl" value="120"></span>
                <span class="reservedSpanEl" value="121"></span>
                <span class="reservedSpanEl" value="122"></span>
                <span class="reservedSpanEl" value="123"></span>
                <span class="reservedSpanEl" value="124"></span>
                <span class="reservedSpanEl" value="125"></span>
                <span class="reservedSpanEl" value="126"></span>
                <span class="reservedSpanEl" value="127"></span>
                <span class="reservedSpanEl" value="128"></span>
                <span class="reservedSpanEl" value="129"></span>
                <span class="reservedSpanEl" value="130"></span>
                <span class="reservedSpanEl" value="131"></span>
                <span class="reservedSpanEl" value="132"></span>
                <span class="reservedSpanEl" value="133"></span>
                <span class="reservedSpanEl" value="134"></span>
                <span class="reservedSpanEl" value="135"></span>
                <span class="reservedSpanEl" value="136"></span>
                <span class="reservedSpanEl" value="137"></span>
                <span class="reservedSpanEl" value="138"></span>
                <span class="reservedSpanEl" value="139"></span>
                <span class="reservedSpanEl" value="140"></span>
                <span class="reservedSpanEl" value="141"></span>
                <span class="reservedSpanEl" value="142"></span>
                <span class="reservedSpanEl" value="143"></span>
                <span class="reservedSpanEl" value="144"></span>
            </div>
        </div>
    </div>


    <div class="spec-container">
        <div class="item">
            <i class="icon fa-solid fa-location-dot"></i>
            <span class="item" rel="address"></span>
        </div>

        <div class="item">
            <i class="icon fa-solid fa-phone"></i>
            <a class="text contact" href="" rel="contact"></a>
        </div>

        <div class="item">
            <i class="fa-solid fa-square-parking"></i>
            <span class="item" rel="generalCarNumber"></span>
        </div>

        <div class="item">
            <i class="fa-solid fa-square-parking"></i>
            <span class="item" rel="dpCarNumber"></span>
        </div>

        <div class="item">
            <i class="fa-solid fa-tag"></i>
            <span class="item" rel="price"></span>
        </div>

        <div class="item">
            <i class="fa-solid fa-tag"></i>
            <span class="item" rel="dayMaxPrice"></span>
        </div>

        <div class="item">
            <i class="fa-solid fa-message"></i>
            <span class="item" rel="description"></span>
        </div>

        <div class="item">
            <i class="fa-solid fa-building"></i>
            <span class="item" rel="contractorName"></span>
        </div>
    </div>

</aside>

</html>