<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<aside class="aside list" id="detailAside" th:fragment="detailAside">
    <h2 class="title">
        <i class="closer fa-solid fa-angle-left" rel="closer"></i>
        주차장 상세정보
    </h2>

    <div class="image-container" rel="imageContainer"></div>

    <div class="info-container">

        <div class="name-container">
            <span class="name" rel="name"></span>
            <span class="category" rel="parkingLotCategoryText"></span>
        </div>

        <div class="stat-container">
            <div class="item favorite">
                <span class="text">즐겨찾기</span>
                <span class="value" rel="favoriteCount"></span>
            </div>

            <div class="item review">
                <span class="text">리뷰</span>
                <span class="value" rel="reviewCount"></span>
            </div>
        </div>

        <div class="button-container">
            <button class="button save" rel="saveButton" type="button">
                <i class="icon fa-solid fa-star"></i>
                <span class="text">즐겨찾기</span>
            </button>

            <button class="button" rel="reportButton" type="button">
                <i class="icon fa-solid fa-circle-exclamation"></i>
                <span class="text">신고</span>
            </button>

            <button class="button" rel="reservationButton" type="button">
                <i class="icon fa-solid fa-pen"></i>
                <span class="text">예약</span>
            </button>
        </div>

    </div>


    <div class="spec-container">
        <div class="item">
            <i class="icon fa-solid fa-location-dot"></i>
            <span class="item" rel="address"></span>
        </div>

        <div class="item">
            <i class="icon fa-solid fa-phone"></i>
            <a class="text contact" href="" rel="contact"></a>
        </div>

        <div class="item">
            <i class="fa-solid fa-square-parking"></i>
            <span class="item" rel="generalCarNumber"></span>
        </div>

        <div class="item">
            <i class="fa-solid fa-square-parking"></i>
            <span class="item" rel="dpCarNumber"></span>
        </div>

        <div class="item">
            <i class="fa-solid fa-tag"></i>
            <span class="item" rel="price"></span>
        </div>

        <div class="item">
            <i class="fa-solid fa-tag"></i>
            <span class="item" rel="dayMaxPrice"></span>
        </div>

        <div class="item">
            선택 날짜 기준 예약 내역(NOW()로 끌어온 날짜보다 뒤로는 갈수 없다.<br>
            선택 날짜 시간 기준 몇대가 예약 가능한가등의 정보 표시.
        </div>

        <div class="item">
            <i class="fa-solid fa-message"></i>
            <span class="item" rel="description"></span>
        </div>

        <div class="item">
            <i class="fa-solid fa-building"></i>
            <span class="item" rel="contractorName"></span>
        </div>

    </div>

</aside>

</html>