<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--https://www.daterangepicker.com/-->
<div class="_obj-dialog" id="referenceTimeDialog" th:fragment="referenceTimeDialog">
    <label class="_obj-label" rel="dateLabel">
        <span class="__text">예약날짜 (클릭하여 날짜 및 시간을 선택해 주세요.)</span>
        <input readonly class="_obj-input __field" type="text" name="datetimes">
    </label>
    <label class="_obj-label" rel="reservationStartTimeLabel">
        <span class="__text">예약 시작 시간</span>
        <input readonly name="startDateTime" class="_obj-input __field" type="text">
    </label>
    <label class="_obj-label" rel="reservationEndTimeLabel">
        <span class="__text">예약 종료 시간</span>
        <input readonly name="endDateTime" class="_obj-input __field" type="text">
    </label>

    <button class="_obj-button" type="button" rel="confirmButton">예약 시간 설정</button>
    <button class="_obj-button" type="button" rel="cancelButton">취소</button>

</div>

</html>