<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<form novalidate class="_obj-dialog inner" id="reservationForm"
      th:with="parkingLotRegex = ${T(com.jbw.reservation.regexes.ParkingLotRegex)}, reservationRegex = ${T(com.jbw.reservation.regexes.ReservationRegex)}"
      th:fragment="reservationForm">
    <h2 class="__title">주차장 예약</h2>

    <label class="_obj-label" rel="emailLabel">
        <span class="__text">예약자 이메일</span>
        <input readonly required class="_obj-input __field" name="userEmail" minlength="5" maxlength="50"
               type="text"
               th:value="${session.user.getEmail()}">
    </label>

    <label class="_obj-label" rel="nameLabel">
        <span class="__text">협력업체 주차장 상호명</span>
        <input hidden name="parkingLotIndex" type="hidden">
        <input readonly required autocomplete="off" class="_obj-input __field" maxlength="50" minlength="1"
               name="name"
               type="text">
    </label>

    <label class="_obj-label" rel="addressLabel">
        <span class="__text">협력업체 주차장 주소</span>
        <input readonly required autocomplete="off" class="_obj-input __field" maxlength="100" minlength="1"
               name="addressPrimary" spellcheck="false" type="text">
        <input readonly autocomplete="off" class="_obj-input __field" maxlength="100" minlength="1"
               name="addressSecondary" spellcheck="false" type="text">
    </label>

    <label class="_obj-label" rel="contactLabel">
        <span class="__text">예약자 전화번호</span>
        <input required autocomplete="off" class="_obj-input __field" name="userContact" spellcheck="false" type="text" th:attrappend="data-regex=${reservationRegex.userContact.expression}">
    </label>

    <label class="_obj-label" rel="carNumberLabel">
        <span class="__text">예약자 차량번호</span>
        <input required autocomplete="off" class="_obj-input __field" name="carNumber" spellcheck="false" type="text" th:attrappend="data-regex=${reservationRegex.carNumber.expression}">
    </label>

    <label class="_obj-label" rel="reservationStartTimeLabel">
        <span class="__text">예약 시작 시간</span>
        <input readonly name="startDateTime" class="_obj-input __field" type="text">
    </label>

    <label class="_obj-label" rel="reservationEndTimeLabel">
        <span class="__text">예약 종료 시간</span>
        <input readonly name="endDateTime" class="_obj-input __field" type="text">
    </label>

    <label class="_obj-label" rel="totalPriceLabel">
        <span class="__text">최종 결제 금액</span>
        <span class="price-container">
            <input readonly name="totalPrice" class="_obj-input __field" type="text">
            <!--            <span class="__text">원</span>-->
        </span>
    </label>


    <button class="_obj-button" type="submit">예약</button>
    <button class="_obj-button" type="button" rel="cancelButton">취소</button>
</form>
</html>
