<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<form novalidate class="_obj-dialog " id="reservationForm"
      th:fragment="reservationForm">

    <h2 class="__title">주차장 예약</h2>

    <label class="_obj-label" rel="phoneLabel">
        <span class="__text">휴대전화번호</span>
        <input required autocomplete="off" class="_obj-input __field" name="phoneNumber" spellcheck="false" type="text"
               placeholder="예) 01012345678">
    </label>

    <label class="_obj-label" rel="carLabel">
        <span class="__text">차량번호</span>
        <input required autocomplete="off" class="_obj-input __field" name="carNumber" spellcheck="false" type="text"
               placeholder="예) 00가0000, 서울00가0000">
    </label>

    <label class="_obj-label" rel="reservationStartTimeLabel">
        <span class="__text">예약 시작 시간</span>
        <input readonly name="startDateTime" class="_obj-input __field" type="text">
    </label>

    <label class="_obj-label" rel="reservationEndTimeLabel">
        <span class="__text">예약 종료 시간</span>
        <input readonly name="endDateTime" class="_obj-input __field" type="text">
    </label>

    <label class="_obj-label" rel="totalPriceLabel">
        <span class="__text">최종 결제 금액</span>
        <span class="price-container">
            <input readonly name="totalPrice" class="_obj-input __field" type="text">
            <span class="__text">원</span>
        </span>
    </label>


    <button class="_obj-button" type="submit">예약</button>
    <button class="_obj-button" type="button" rel="cancelButton">취소</button>
</form>
</html>
