<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ParkingLot</title>

    <link rel="stylesheet" type="text/css" th:href="@{assets/styles/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{assets/styles/index.css}">

    <script defer th:if="${session.contractor != null}">
        alert('협력업체 로그인 상태입니다. 협력업체 로그아웃 후 다시 시도해 주세요.');
        location.href = '/contractor/'
    </script>

    <script defer th:if="${session.contractor == null && session.user == null}">
        alert('로그인 후 이용해 주세요.');
        location.href = '/access/';
    </script>

    <!--    swiperjs API 끌어온것.-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Date Range Picker API 끌어온것 -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!--카카오 지도 API 끌어온것.-->
    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=20117416fbae8ce050ee1dcc56db2c71&libraries=services"
            type="text/javascript"></script>

    <!--폰트어썸 임폴트 스크립트-->
    <script src="https://kit.fontawesome.com/bb143610b4.js" crossorigin="anonymous" type="text/javascript"></script>

    <script defer type="text/javascript" th:src="@{/assets/scripts/common.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.detailAside.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.listAside.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.nav.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.reservationForm.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.categoryDialog.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.inquiryBoardDialog.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.generalBoardDialog.js}"></script>


</head>

<body th:if="${session.user != null && session.contractor == null}">
<div class="_obj-cover" id="cover"></div>

<th:block th:replace="~{fragments/index/nav.html :: nav}"></th:block>

<th:block th:replace="~{fragments/index/listAside.html :: listAside}"></th:block>

<th:block th:replace="~{fragments/index/detailAside.html :: detailAside}"></th:block>

<th:block th:replace="~{fragments/index/map.html :: map}"></th:block>

<th:block th:replace="~{fragments/index/reservationForm.html :: reservationForm}"></th:block>

<th:block th:replace="~{fragments/index/categoryDialog.html :: categoryDialog}"></th:block>

<th:block th:replace="~{fragments/index/referenceTimeDialog.html :: referenceTimeDialog}"></th:block>

<th:block th:replace="~{fragments/index/inquiryBoardDialog.html :: inquiryBoardDialog}"></th:block>

<th:block th:replace="~{fragments/index/inquiryArticleWriteForm.html :: inquiryArticleWriteFormDialog}"></th:block>

<th:block th:replace="~{fragments/index/inquiryArticleReadDialog.html :: inquiryArticleReadDialog}"></th:block>

<th:block th:replace="~{fragments/index/inquiryArticleModifyForm.html :: inquiryArticleModifyFormDialog}"></th:block>

<th:block th:replace="~{fragments/index/generalBoardDialog.html :: generalBoardDialog}"></th:block>

<th:block th:replace="~{fragments/index/generalArticleWrite.html :: generalArticleWriteFormDialog}"></th:block>

<th:block th:replace="~{fragments/index/generalArticleReadDialog.html :: generalArticleReadDialog}"></th:block>

<th:block th:replace="~{fragments/index/generalArticleModifyForm.html :: generalArticleModifyFormDialog}"></th:block>

</body>

</html>